body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

#albums {
    list-style: none;
    margin: 20px;
    padding: 0;
}

.album_title {
    position: relative;
    padding-left: 15px;
    margin-bottom: 7px;
}

.album_title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    background-color: pink;
    width: 4px;
    height: 4px;
}